body { 
    margin: 0; 
    font-family: 'Akaya Telivigala', cursive;
    font-size: 23px;
  }
  
  .page-center-wrapper {
    width: 80%;
    max-width: 1920px;
    padding: 15px 25px;
    margin: 0 auto;
  
    background-color: #A9A9A9;
  }
  
  .header__h1,
  .h2 { font-family: 'RocknRoll One', sans-serif; }
  
  .header__h1 {
    margin: 0;
    font-size: 30px;
  }
  
  [class$="h2"] { font-size: 24px; }
  
  @media (min-width: 1441px) {
    .main { height: 125vh; }
  }
  
  .main__essential-info-wrapper { display: flex; }
  
  .main__contacts { align-self: center; }
  
  .main__contacts-list { padding: 0; }
  
  .my_photo {
    margin-right: 40px;
  
    border-radius: 60%;
    border: 2px outset red;
  }
  
  h2 + p { margin: 20 px; }
  
  .main__coding-list,
  .main__contacts-list { list-style: none; }
  
  footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-height: 70px;
    margin-top: 20px;
  }
  footer::before{
    content: '';
    position: absolute;
    margin: 0 auto;
    top: -10px;
    left: 5%;
    width: 90%;
    border-top: 1px solid #585858;
  }
  footer div {
    flex: 1 1 auto;
  }
  footer img {
    max-height: 100%;
